Repository luisgaboardi/Forum-TutorBrasil, pull requests merged in 2021-09, with the labels that each got.

#26 Add Second Control-Point Presentation
  docs/assets/releases/release-0/release-0-01.jpg
  docs/assets/releases/release-0/release-0-02.jpg
  docs/assets/releases/release-0/release-0-03.jpg
  docs/assets/releases/release-0/release-0-04.jpg
  docs/assets/releases/release-0/release-0-05.jpg
  docs/assets/releases/release-0/release-0-06.jpg
  docs/assets/releases/release-0/release-0-07.jpg
  docs/assets/releases/release-0/release-0-08.jpg
  docs/assets/releases/release-0/release-0-09.jpg
  docs/assets/releases/release-0/release-0-10.jpg
  docs/assets/releases/release-0/release-0-11.jpg
  docs/assets/releases/release-0/release-0-12.jpg
  docs/assets/releases/release-0/release-0-13.jpg
  docs/assets/releases/release-1/release-1-01.jpg
  docs/assets/releases/release-1/release-1-02.jpg
  docs/assets/releases/release-1/release-1-03.jpg
  docs/assets/releases/release-1/release-1-04.jpg
  docs/assets/releases/release-1/release-1-05.jpg
  docs/assets/releases/release-1/release-1-06.jpg
  docs/assets/releases/release-1/release-1-07.jpg
  docs/assets/releases/release-1/release-1-08.jpg
  docs/assets/releases/release-1/release-1-09.jpg
  docs/assets/releases/release-1/release-1-10.jpg
  docs/assets/releases/release-1/release-1-11.jpg
  docs/assets/releases/release-1/release-1-12.jpg
  docs/assets/releases/release-1/release-1-13.jpg
  docs/assets/releases/release-1/release-1-14.jpg
  docs/assets/releases/release-1/release-1-15.jpg
  docs/assets/releases/release-1/release-1-16.jpg
  docs/assets/releases/release-1/release-1-17.jpg
  docs/assets/releases/release-1/release-1-18.jpg
  docs/assets/releases/release-1/release-1-19.jpg
  docs/assets/releases/release-1/release-1-20.jpg
  docs/assets/releases/release-1/release-1-21.jpg
  docs/project/surveys/survey-01.md
  docs/releases/release-0.md
  docs/releases/release-1.md
  mkdocs.yml
Labels: documentation

#28 Project's Visual Identity
  docs/assets/visual-identity/logo.png
  docs/assets/visual-identity/pallete_1.png
  docs/assets/visual-identity/pallete_2.png
  docs/assets/visual-identity/pallete_3.png
  docs/project/visual-identity.md
  mkdocs.yml
Labels: documentation

#29 Add form's results
  docs/assets/form1_questions/question1.png
  docs/assets/form1_questions/question10.png
  docs/assets/form1_questions/question11.png
  docs/assets/form1_questions/question12.png
  docs/assets/form1_questions/question13.png
  docs/assets/form1_questions/question14.png
  docs/assets/form1_questions/question14b.png
  docs/assets/form1_questions/question15.png
  docs/assets/form1_questions/question16.png
  docs/assets/form1_questions/question16b.png
  docs/assets/form1_questions/question17.png
  docs/assets/form1_questions/question17b.png
  docs/assets/form1_questions/question2.png
  docs/assets/form1_questions/question3.png
  docs/assets/form1_questions/question4.png
  docs/assets/form1_questions/question5.png
  docs/assets/form1_questions/question6.png
  docs/assets/form1_questions/question7.png
  docs/assets/form1_questions/question8.png
  docs/assets/form1_questions/question9.png
  docs/index.md
  docs/project/surveys/survey-01.md
Labels: survey

#32 18 mid prototype
  docs/assets/mid-prototype/mid-prototype-01.png
  docs/assets/mid-prototype/mid-prototype-02.png
  docs/assets/mid-prototype/mid-prototype-03.jpg
  docs/assets/mid-prototype/mid-prototype-04.png
  docs/assets/survey-1/question1.png
  docs/assets/survey-1/question10.png
  docs/assets/survey-1/question11.png
  docs/assets/survey-1/question12.png
  docs/assets/survey-1/question13.png
  docs/assets/survey-1/question14.png
  docs/assets/survey-1/question14b.png
  docs/assets/survey-1/question15.png
  docs/assets/survey-1/question16.png
  docs/assets/survey-1/question16b.png
  docs/assets/survey-1/question17.png
  docs/assets/survey-1/question17b.png
  docs/assets/survey-1/question2.png
  docs/assets/survey-1/question3.png
  docs/assets/survey-1/question4.png
  docs/assets/survey-1/question5.png
  docs/assets/survey-1/question6.png
  docs/assets/survey-1/question7.png
  docs/assets/survey-1/question8.png
  docs/assets/survey-1/question9.png
  docs/assets/visual-identity/pallete_example.png
  docs/project/mid-prototype.md
  docs/project/surveys/survey-01.md
  docs/project/visual-identity.md
Labels: documentation, prototype

#33 Elaboração do Roteiro do Teste de Usabilidade
  docs/assets/prototypes/low-prototype/low-prototype-01.jpeg
  docs/assets/prototypes/low-prototype/low-prototype-02.jpeg
  docs/assets/prototypes/low-prototype/low-prototype-03.jpeg
  docs/assets/prototypes/low-prototype/low-prototype-04.jpeg
  docs/assets/prototypes/mid-prototype/mid-prototype-01.png
  docs/assets/prototypes/mid-prototype/mid-prototype-02.png
  docs/assets/prototypes/mid-prototype/mid-prototype-03.jpg
  docs/assets/prototypes/mid-prototype/mid-prototype-04.png
  docs/management/methodology-plan.md
  docs/project/interviews/interview-01.md
  docs/project/prototypes/high-prototype.md
  docs/project/prototypes/low-prototype.md
  docs/project/prototypes/mid-prototype.md
  docs/releases/release-1.md
  mkdocs.yml
Labels: documentation, interview
